<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="styleTodos.css"> #}
    
    <title>Votre TodoList</title>
</head>
<body>
    {% for message in app.session.flashbag.get('info') %}
        <div class="info">
        <p>info: {{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="success">
        <p>success: {{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('errorExist') %}
        <div class="errorExist">
        <p>errorExist: {{ message }}</p>
        </div>
    {% endfor %}

      {% for message in app.session.flashbag.get('error') %}
        <div class="error">
        <p>error: {{ message }}</p>
        </div>
    {% endfor %}

    <h1>Votre TodoList</h1>

    <ul class='todoContainer'>
     {% for name,content in app.session.get('todos') %}
        <li class="uneTodo">
            <p>{{ name }} : {{ content }}</p>
        </li>

        {% endfor %}
    </ul>

</body>
</html>